# excluye carpetas de MCUXpreso workspace
*.metadata
*.mcuxpressoide_packages_support
*.launch

# Excluye carpetas freeRTOS_TAD_logs
/FreeRTOS_TAD_logs/

# Excluye carpeta temporal debug/release
/MKL02Z32SOURCE/debug/
/MKL02Z32SOURCE/release/
/MKL02Z32SOURCE/doc/